<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>Vue-che demo</title>
	<script src="./../dist/vue-che.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.2.6/vue.js"></script>
</head>
<body>
	<div id="vue-app">
		<h1>Basic form</h1>
		<form v-on:submit.prevent="submitHandler">
			<label>			
				<div>
					Text input (required, email)
				</div>
				<input v-model="mtext" v-che:MTEXT.reqd.f_email />
			</label>	
			<span class="che-err-msg" v-html="cheErr('mtext')"></span>  

			<hr />
			<label>			
				<div>
					Text input (same as above - i.e. password repeat)
				</div>
				<input v-model="mtext_confirm" v-che:MTEXT_CONFIRM.sameas="{propname:'mtext'}" />
			</label>	
			<span class="che-err-msg" v-html="cheErr('mtext_confirm')"></span>  

			<hr />
			<label>
				<div>Select</div> 
				<select v-model="mselect" v-che:MSELECT.reqd>
					<option value="">-- Not selected --</option>
					<option value="1">aaa</option>
					<option value="2">sss</option>
					<option value="3">ddd</option>
				</select>		
			</label>
			<span class="che-err-msg" v-html="cheErr('mselect')"></span>

			<hr />
			<label>			
				<div>Textarea</div> <textarea v-model="mtextarea" v-che:MTEXTAREA.reqd></textarea>
			</label>
			<span class="che-err-msg" v-html="cheErr('mtextarea')"></span>

			<hr />	
			<div>Radio</div>	
			<label>			
				<input type="radio" v-model="mradio" v-che:MRADIO.reqd value="1" /> 1
			</label>
			<label>			
				<input type="radio" v-model="mradio" v-che:MRADIO.reqd value="2" /> 2
			</label>
			<span class="che-err-msg" v-html="cheErr('mradio')"></span>


			<hr />
			<div>Checkbox</div>
			<label>
				<input type="checkbox" v-model="mchbox" v-che:MCHBOX.reqd value="1" /> 1
			</label>
			<label>
				<input type="checkbox" v-model="mchbox" v-che:MCHBOX.reqd value="2" /> 2
			</label>
			<span class="che-err-msg" v-html="cheErr('mchbox')"></span>

			<hr />
			<button type="submit">Submit!</button>
		</form>	

		<h2>Vue data</h2>
		<pre v-html="data"></pre>
	</div>

	<script src="demo.js"></script>

	<style>
		hr {
			margin: 1em 0;
			border: solid;
			border-color: #bbb;
			border-width: 1px 0 0 0;
		}
		* {			
			font-family: consolas, monospace;
		}
		#vue-app {
			width:600px;
			margin: 2em auto;
		}
		input, textarea, select {
			border: solid 1px #666;
			padding: .3em;
			resize: none;
		}
		input:focus, textarea:focus, select:focus{
			outline: none;
		}
		.che-err-inp {
			border-color: red;
		}
		.che-err-msg {
			color: red;
		}
		button[type=submit] {
			font-size: 2em;
		}
	</style>
</body>
</html>